/*====General Config==========*/

:root {
    --main-color: #33ADB9;
    --main-font: sans-serif;
    /* --border-box: 1px solid black; */
    --font-color: #63737D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: auto;
    height: 730px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "sidebar main" "footer footer";
    background-color: var(--main-color);
    padding-bottom: 0%;
}


/*======Side Bar==============*/

.sideBar {
    margin-top: 17%;
    padding-left: 11%;
    width: 250px;
    height: 80%;
    grid-area: sidebar;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarContent {
    width: 160px;
    height: 641px;
    position: relative;
    border: var(--border-box);
}

.sideBar_fillingBar {
    width: 8px;
    height: 533px;
    margin-top: 71px;
    margin-left: 32.5px;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to right, #E5E5E5, #CBCBCB);
}

.iconsContainer {
    width: 73px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    border: var(--border-box);
}

.sideBar_icon {
    width: 73px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 50%;
    background-image: radial-gradient(circle, #E5E5E5, #CBCBCB);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.paso1naranja {
    width: 65px;
    height: 65px;
}

.sideBar_iconNames {
    width: 50%;
    height: 100%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    color: white;
    font-family: var(--main-font);
    font-weight: lighter;
    line-height: 73px;
    border: var(--border-box);
}


/*=======Main Content =========*/

.main {
    height: 100%;
    padding: 1em 0 1em 0.5em;
    grid-area: main;
    border: var(--border-box);
}

.mainContent {
    padding-top: 10px;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.mainContent__header {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-box);
}

.mainContent__header__logo {
    width: 133px;
    height: 42px;
}

.mainContent__header__logo .wikpisLogo {
    width: 100%;
    height: 100%;
}

.mainContent__header__text {
    padding-left: 1em;
    margin-left: 1.2em;
    font-family: var(--main-font);
    color: var(--font-color);
    font-size: 1.1em;
    line-height: 2.4em;
    border-left: 1px solid #63737D;
}

.mainContent__phrase {
    margin-top: 2.5em;
    padding-left: 1em;
    font: Bold 1.1em/2em var(--main-font);
    color: var(--font-color);
    border: var(--border-box);
    border-left: 0.4em solid #FF9300;
}

.mainContent__grid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(4, minmax(183px, 300px));
    grid-template-rows: repeat(2, auto);
    align-self: center;
    border: var(--border-box);
}

.grid_images {
    width: 220px;
    height: 220px;
    position: relative;
    justify-self: center;
    border: var(--border-box)
}

.grid_images a {
    display: flex;
}

.grid_images a:hover p {
    color: white;
}

.grid_images .image {
    width: 100%;
    position: absolute;
}

.grid_images .image_caption {
    width: 100%;
    position: absolute;
    margin-top: 148px;
    text-align: center;
    border: var(--border-box);
    text-decoration: none;
    font-size: 1em;
    font-family: var(--font-type);
    color: var(--main-color);
}

.mainContent__grid__list {
    padding-left: 15%;
    color: var(--main-color);
    border: var(--border-box);
}

.mainContent__grid__list span {
    font-size: 1em;
    font-family: var(--font-type);
    color: var(--font-color);
}

.mainContent__buttons {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: var(--border-box);
}

.mainContent__buttons .next {
    width: 178px;
    height: 30px;
    border-radius: 9px;
    font-family: var(--font-type);
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.mainContent__buttons .goBack {
    width: 232px;
    margin-bottom: 10px;
    height: 30px;
    margin-top: 12px;
    border-radius: 9px;
    font-family: var(--font-type);
    font-size: 1em;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border: 1px solid var(--main-color);
}


/*=======Footer =========*/

.footer {
    width: 100%;
    margin-top: 0%;
    grid-area: footer;
    text-align: center;
    font-family: var(--font-type);
    font-size: 0.8em;
    color: white;
    line-height: 2em;
    border: var(--border-box);
    background-color: var(--main-color);
}