:root {
    --main-color: #33ADB9;
    --orange-color: #FF9300;
    --main-font: sans-serif;
    /* --border-box: 1px solid black;    */
    --font-color: #63737D;
}


/* ====Side Bar====================*/

.progress--1,
.progress--2,
.progress--3 {
    background-color: var(--orange-color);
}


/*====MainContent =================*/

.formContainer {
    margin-top: 1.5em;
    margin-left: 2em;
    width: 80%;
    height: 300px;
    border-left: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}

.form .formPhrase {
    margin-top: 1em;
    margin-left: 0.5em;
    color: var(--font-color);
    font: Bold 0.9em/1.0em var(--main-font);
}

.form .formPhrase span {
    color: var(--main-color);
}

.form .formInputText label {
    align-self: center;
    color: var(--orange-color);
    font: Bold 0.9em/1.0em var(--main-font);
}

.form .formInputText {
    margin-top: 1em;
    margin-left: 0.5em;
    display: grid;
    grid-template-columns: max-content auto max-content auto;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 0.9em;
    border: var(--border-box);
}

input[type="text"] {
    height: 2em;
    border: 1px solid #E5E5E5;
    outline: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.dataPolicy {
    width: 115%;
    height: 85px;
    margin-top: 2em;
    margin-left: -2.5px;
    border-left: 5px solid orange;
    /* border: 1px solid black; */
}

.dataPolicy .title {
    margin-left: 0.5em;
    color: var(--main-color);
    font: Bold 1.0em/1.0em var(--main-font);
}

.dataPolicy .description {
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    color: var(--font-color);
    font: normal 0.9em/1.2em var(--main-font);
}

.dataPolicy .description a {
    text-decoration: none;
    color: var(--main-color);
}

.dataPolicy .questions {
    margin-bottom: -10px;
}

.dataPolicy .question1Container,
.dataPolicy .question2Container {
    display: flex;
    position: relative;
    color: var(--font-color);
    font: normal 0.9em/1.2em var(--main-font);
    margin-left: 1.5em;
}

.question1Container input[type="radio"] {
    display: none;
}

.dataPolicy .question1Container label {
    position: relative;
    display: inline-block;
    margin-left: 35px;
}


/*___radio button___*/

.question1Container label::after {
    content: "";
    border: 3px solid #F2F2F2;
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #EFEFEF;
    border-radius: 50%;
    left: 0px;
    bottom: 3.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.question1Container input[type="checkbox"]:checked+label::after {
    content: "";
    background-color: black;
    /* color: red; */
}