:root{
    --orange-color: #FF9300 ;
    /* --border-box: 1px solid black; */
}

/* ====Side Bar====================*/
.icon1 a{
    margin: 0;
    padding: 0;
    position:absolute;
    z-index: 5;
    border: 1px solid black;

}

.progress--1{
    background-color: var(--orange-color) ;
}
/*====MainContent =================*/
.mainContent__grid {
    margin-top: 1em;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-template-rows: min-content auto;
    /* grid-template-rows:  repeat(2, minmax(100px, 160px));*/
    align-self: center;
    border: var(--border-box);
}

.grid_images {
    width: 65%;
    height: 100%;
    min-width: 155px;
    position: relative;
    justify-self: center;
    border: var(--border-box)
}

.grid_images .image {
    width: 100%;
    /* position: absolute; */
}

.grid_images .option {
    width: 100%;
    display: flex;
    cursor: pointer;
}

.grid_images a {
    display: flex;
}

.grid_images a:hover p {
    color: white;
}


.grid_images .image_caption {
    width: 100%;
    position: absolute;
    margin-top: 66%;
    text-align: center;
    border: var(--border-box);
    text-decoration: none;
    font-size: 0.9em;
    font-family: var(--font-type);
    color: var(--main-color);
}

input[type="checkbox"]{
    display:none;
}

.mainContent__grid__list {
    padding-top: 2%;
    padding-left: 22%;
    color: var(--main-color);
    border: var(--border-box);
    /* border: 1px solid red; */
}

.mainContent__grid__list li {
    text-decoration: none;
    list-style: none;
}

.mainContent__grid__list span {
    font-size: 90%;
    /* border: 1px solid red; */
    font-family: var(--font-type);
    color: var(--font-color);
}

.mainContent__buttons {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: var(--border-box);
}

.mainContent__buttons .next {
    margin-left: 25px;
    width: 232px;
    height: 30px;
    border-radius: 9px;
    font-family: var(--font-type);
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.mainContent__buttons .goBack {
    width: 232px;
    margin-bottom: 10px;
    height: 30px;
    margin-top: 12px;
    border-radius: 9px;
    font-family: var(--font-type);
    font-size: 1em;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border: 1px solid var(--main-color);
}


@media (max-width:1200px){
    .content{
        height: default;
    }
    .grid_images .image_caption  {
        font-size: .8em;
    }
}