:root {
    --color-mainfund: rgb(51, 173, 185, 1);
    --color-white: #FFFFFF;
    --border: 1px solid black;

    --font-main: 'Roboto', sans-serif;
   
}

* {
    background-color: var(--color-mainfund)
}

p {
    display: inline;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container-box {
    width: 800px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: auto;
}

.container-box--logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-box--logos-wikpis {
    border-right: 1px solid var(--color-white);
    padding-right: 1em;
    width: 40%;
}

img {
    width: 100%;
}

.container-box--contizador p samp {
    font-family: var(--font-main);
    color: var(--color-white);
    font-size: 43px;
    padding: .5em;
}

.container-box--form {
    margin-top: 1.3em;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container-box--form p {
    color: var(--color-white);
    height: 10px;
    font-size: large;
    text-align: justify;
    margin-bottom: 1.5em;
    font-stretch: 100%;
}

.container-box--form input:nth-child(2) {
    width: 500px;
    height: 37px;
    border: none;
    border-radius: .5em;
    background-color: var(--color-white);
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.container-box--form-options {
    margin-top: .7em;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container-box--form-options p {
    font-size: .9em;
    cursor: pointer;
    padding-left: .7em;
}

.container-box--form-options select {
    color: var(--color-white);
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

.container-box--form-button {
    /* border: var(--border); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 600px;
    height: 100px;
}

.container-box--form-button a {
    width: 159px;
    height: 2em;
    text-decoration: none;
    color: var(--color-white);
    border-radius: .7em;
    border: none;

    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);

    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-box--form-button a:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.footer {
    color: var(--color-white);
    font-size: 1em;
    margin-top: 40px;
}

@media screen and (max-width:1024px) {
    .container-box--logos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .container-box--logos-wikpis {
        margin: 0;
        width: 30%;
    }
    .container-box--contizador span {
        font-size: .3em;
    }
}

@media screen and (min-width:1025px) and (max-width: 1400px) {
    .container-box--contizador p samp {
        font-size: 3em;
    }
}