:root {
    --main-color: #33ADB9;
    --orange-color: #FF9300;
    --main-font: sans-serif;
    /* --border-box: 1px solid black;    */
    --font-color: #63737D;
    --white-color: #fff;
}


/* ====Side Bar====================*/

.progress--1,
.progress--2,
.progress--3 {
    background-color: var(--orange-color);
}


/*====MainContent =================*/

.formContainer {
    margin-top: 1.5em;
    margin-left: 2em;
    width: 80%;
    height: 300px;
    border-left: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}

.form .formPhrase {
    margin-top: 1em;
    margin-left: 0.5em;
    color: var(--font-color);
    font: Bold 0.9em/1.0em var(--main-font);
}

.form .formPhrase span {
    color: var(--main-color);
}

.form .formInputText label {
    align-self: center;
    color: var(--orange-color);
    font: Bold 0.9em/1.0em var(--main-font);
}

.form .formInputText {
    margin-top: 1em;
    margin-left: 0.5em;
    display: grid;
    grid-template-columns: max-content auto max-content auto;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 0.9em;
    border: var(--border-box);
}

input[type="text"] {
    height: 2em;
    border: 1px solid #E5E5E5;
    outline: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.dataPolicy {
    width: 115%;
    height: 85px;
    margin-top: 2em;
    margin-left: -2.5px;
    border-left: 5px solid orange;
    /* border: 1px solid black; */
}

.dataPolicy .title {
    margin-left: 0.5em;
    color: var(--main-color);
    font: Bold 1.0em/1.0em var(--main-font);
}

.dataPolicy .description {
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    color: var(--font-color);
    font: normal 0.9em/1.2em var(--main-font);
}

.dataPolicy .description a {
    text-decoration: none;
    color: var(--main-color);
}

.dataPolicy .questions {
    margin-bottom: -10px;
}

.dataPolicy .question1Container,
.dataPolicy .question2Container {
    display: flex;
    color: var(--font-color);
    font: normal 0.9em/1.2em var(--main-font);
    margin-left: 1.5em;
}

/*___________radio____________*/
.labelRadio{
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.labelRadio input[type="radio"]{
    display:none;
}

.labelRadio .customRadio{
    height: 12px;
    width: 12px;
    position: relative;
    border-radius: 50%;
    left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: radial-gradient(circle, white,rgba(0,0,0, 0.1));;
    display: inline-block;
}

.customRadio:after {
    content: "";
    display: none;
}

.labelRadio input:checked ~ .customRadio:after {
    display: block;
}

.labelRadio .customRadio:after{
    content:"";
    height: 5px;
    width:5px;
    background-color: var(--orange-color);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* .question1Container input[type="radio"] {
    display: none;
}

.dataPolicy .question1Container label {
    position: relative;
    display: inline-block;
    margin-left: 35px;
} */


/*___radio button___*/

/* .question1Container label::after {
    content: "";
    border: 3px solid #F2F2F2;
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #EFEFEF;
    border-radius: 50%;
    left: 0px;
    bottom: 3.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.question1Container input[type="checkbox"]:checked+label::after {
    content: "";
    background-color: black;
    /* color: red; */
/*} */


.discountTitle {
    width: 105%;
    margin-top: 1.5em;
    text-align: center;
    color: var(--main-color);
    font: Bold 1.2em/1.0em var(--main-font);
}


/*  ______Discount Options____ */

.discountOptionsContainer {
    width: 105%;
    height: 45px;
    margin-top: 1.0em;
    display: flex;
    justify-content: space-between;
    border: var(--border-box);
}

.discountOption {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font: Normal 0.8em/45px var(--main-font);
    color: white;
    background-color: var(--orange-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.discountOption input[type="text"] {
    font: Normal 1em/1em var(--main-font);
    margin-left: 1em;
    height: 30px;
}

.discountOption input[type="text"]::placeholder {
    font: Normal 1em/1em var(--main-font);
    padding-left: 10px;
    color: #CBCBCB;
}


/* _______Buttons_________*/

.mainContent__buttons {
    width: 100%;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: var(--border-box);
}

.mainContent__buttons .submitQuote {
    width: 232px;
    height: 30px;
    margin-left: 25px;
    border-radius: 9px;
    font: Normal 0.9em/30px var(--main-font);
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.mainContent__buttons .goBack {
    width: 232px;
    margin-bottom: 10px;
    height: 30px;
    margin-top: 12px;
    border-radius: 9px;
    font: Normal 0.9em/30px var(--main-font);
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border: 1px solid var(--main-color);
}