:root {
    --main-color: #33ADB9;
    --main-font: sans-serif;
    /* --border-box: 1px solid black; */
    --font-color: #63737D;
    --color-orange: #FF9300;
    --color-white: #ffffff;
}

body {
    background-color: var(--main-color);
}

.contentMain {
    background-color: var(--color-white);
    width: 94%;
    height: 150vh;
    margin: 2% auto;
    border-radius: 110px;
    padding: 1.6em 0 0 0;
}


/* <!-- === HEADER ===== --> */

.mainContent__header {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: var(--border-box);
}

.mainContent__header__logo {
    width: 133px;
    height: 42px;
}

.mainContent__header__logo .wikpisLogo {
    width: 100%;
    height: 100%;
}

.mainContent__header figure {
    margin: 0;
}

.mainContent__header__text {
    padding-left: 1em;
    margin-left: 1.2em;
    font-family: var(--main-font);
    color: var(--font-color);
    font-size: 1.1em;
    line-height: 2.4em;
    border-left: 1px solid var(--font-color);
}


/* <!-- ======= title ==============--> */

.titleCommercialProposal {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 0;
    color: var(--font-color);
    text-align: center;
}

.spamCommercialProposal {
    color: var(--color-orange);
}


/* <!-- ==========  content commercial proposal ===========--> */

.contentMain_ToPrintDownload {
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 75%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.contentMain-box {
    display: inherit;
    color: var(--main-color);
    font-size: 1em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contentMain-box p {
    margin: 0 .5em;
    cursor: pointer;
}

.toprint {
    height: 100%;
    width: 100px;
    /* border: 1px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.toprint i,
.download i {
    font-size: 1.3em;
    cursor: pointer;
}

.download {
    height: 100%;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* border: 1px solid red; */
}

.contentCommercialProposal {
    width: 80%;
    margin: 0 auto;
    height: 300px;
    /* border: 1px solid red; */
}

hr {
    color: transparent;
    margin: 0;
    height: 1px;
    background-color: var(--main-color);
}

hr.v {
    background-color: var(--main-color);
    margin: 0;
    position: absolute;
    width: .1px;
    height: 300px;
    z-index: 0;
}

.CommercialProposal-name {
    margin-top: 3%;
    margin-bottom: 0;
    font-size: 3em;
    text-align: center;
    color: var(--font-color);
}

.CommercialProposal-lineButton {
    border-bottom: 2px solid var(--main-color);
}

.CommercialProposal-paragraph {
    border-left: 8px solid var(--color-orange);
    width: 80%;
    padding-left: 7%;
    margin-left: 0px;
}

.CommercialProposal-paragraph p:nth-child(1) {
    color: var(--color-orange);
    font-weight: bolder;
    font-size: 1.2em;
}

.CommercialProposal-wikpis {
    color: var(--color-orange);
}

.CommercialProposal-paragraph p {
    color: var(--font-color);
    font-size: 1.1em;
    text-align: justify;
}

.transparent {
    margin-top: 5%;
    border: none;
}

.nextpag {
    margin-top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bolder;
}

.nextpag a {
    text-decoration: none;
}

.nextpag1 a {
    color: var(--font-color);
    padding: 0 12px;
    cursor: pointer;
}

.nextpag2 a {
    cursor: pointer;
    color: var(--color-orange);
    padding: 0 12px;
}

.contentMain_ToPrintDownload.botton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
}

.mainContent__buttons {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* border: var(--border-box); */
}

.mainContent__buttons .next {
    width: 232px;
    height: 30px;
    border-radius: 9px;
    font-family: var(--font-type);
    font-size: 1em;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    /* background-color: var(--main-color); */
    border: 1px solid var(--main-color);
}

.mainContent__buttons .submitQuote {
    width: 232px;
    height: 30px;
    border-radius: 9px;
    font: Normal 0.9em/30px var(--main-font);
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.mainContent__buttons .goBack {
    width: 232px;
    margin-bottom: 10px;
    height: 30px;
    margin-top: 12px;
    border-radius: 9px;
    font: Normal 0.9em/30px var(--main-font);
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border: 1px solid var(--main-color);
}

@media screen and (max-width:1024px) {
    .contentMain {
        height: 1000px;
    }
    .titleCommercialProposal {
        font-size: 1.2em;
    }
    .CommercialProposal-name {
        font-size: 2em;
    }
    .CommercialProposal-paragraph {
        font-size: .9em;
        padding-left: 5%;
        text-align: justify;
    }
}